.dogImage {
    height: 150px;
    width: 180px;
}

.dogCardContainer {
    width: 20%;
    min-width: 220px;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 188, 188);
    margin: 15px;
    opacity: .8;
}