.sortContainer{
    display: flex;
    justify-content: center;
    height: 30%;
    align-items: center;
}

.alphabetical {
    width: 150px;
    margin: 5px 15px;
    border-radius: 5px;
}

.weight {
    width: 150px;
    margin: 5px 15px;
    border-radius: 5px;
}